body {
    background-color: rgb(230 215 218 1);
}
.header {
    height: 400px;
    background-image: url('./Images/coffee-bgnd.jpeg');
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-size: 100px;
    text-align: center;
}